body {
padding-top: 20px;
padding-bottom: 20px;
/*background-color: #66ff99;*/
background-color: white;

}
.header,
.footer
{	padding-right: 15px;
	padding-left: 15px;
}
.header{
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom: 1px;
	border-bottom-color: #33ff77;
}

.splashImage{
	z-index: 0;
	background-image: url(..images/ohman.jpeg);
	position: fixed;
	top: 12em;
}
#baseInfo{

}
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}
.footer {
	padding-top: 19px;
	color: black;
	border-bottom: 1px solid black;
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
p {
/*	font-family: 'Lato', sans-serif;*/
}
.jumbotron {
	text-align: center;
	border bottom: 1px solid #33ff77;
	/*font family:'Lato', sans-serif;*/
	color: white;
	background-color: #66ff99;
}
